<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!--Google Maps and Google Places APIs-->
	
	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->
	
	<!-- bootstrap -->
	{% load staticfiles %}
	<script src="{{STATIC_URL}}jquery.js" %}"> </script>
	<link type="text/css" href="{{STATIC_URL}}bootstrap-3.0.0/dist/css/bootstrap.css" rel="stylesheet"/>
	<link href="{{STATIC_URL}}bootstrap-3.0.0/dist/css/bootstrap-theme.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}bootstrap-3.0.0/dist/js/bootstrap.js"> </script>
	
	
	<title>{% block title %}{% endblock %}</title>
	
</head>
	
<body>
	<!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
	  <div class="navbar-header">
		<!--dropdown for account stuff-->
		<div class='btn-group'>
			<button class="navbar-toggle" type="button" data-toggle="dropdown">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="dropdown-menu" role='menu'>
				{% if user.is_authenticated %}
					<li><a href="/user"><span class  = 'glyphicon glyphicon-user'></span>    {{userName}}</a></li>
					<li><a href="/fav"><span class  = 'glyphicon glyphicon-star'></span>    Favorites</a></li>
					
				{% else %}
					<li><a href="/accounts/login"><span class  = 'glyphicon glyphicon-user'></span>    Sign In</a></li>
					<li><a href="/accounts/add"><span class  = 'glyphicon glyphicon-plus'></span>    Create Profile</a></li>
				{% endif %}
							
				<!--
				{% url 'places:placeDetail' as my_view %}
				{% if my_view %}
					<li><a href="/venue/{{name}}/{{id}}"><span class  = 'glyphicon glyphicon-edit'></span>    Write Review</a></li>
				{% else %}
					<li><a href="/review"><span class='glyphicon glyphicon-edit'></span>    Write Review</a></li>
				{%endif%}
				-->
				
				{% if user.is_authenticated %}
					<li><a href="/accounts/logout"><span class  = 'glyphicon glyphicon-minus-sign'></span>    logout</a></li>
				{% else %}
				{% endif %}
			</ul>
		</div>
		
		<!--Brand name-->
		<a class="navbar-brand" href="/"><span class = 'glyphicon glyphicon-glass'></span></a>
	  
	  
	  <!--
		<div class="navbar-header">
		  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a href="./" class="navbar-brand">Go Out</a>
		</div>
		-->
		<!--
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		  <ul class="nav navbar-nav navbar-right">
		 -->
			<!--<li id='topPadding'>
			  <input type="text" class="form-control" placeholder="Find a place nearby">
			</li>-->
			
			<!--Need to make next button dynamic; if in venueDetail, pass Id. If not, don't pass ID-->
			<!--
			<li><a href="/review"><span class  = 'glyphicon glyphicon-edit'></span></a></li>
			
			<li><a href="/search"><span class  = 'glyphicon glyphicon-search'></span></a></li>
			<li>
			  <a href="./login"><span class  = 'glyphicon glyphicon-user'></span></a>
			</li>
		  </ul>
		</nav>
		-->
	  </div>
	  
	    <ul class="nav navbar-nav pull-right navbar-right">
		<li class="dropdown">
			<a href="#search" class="dropdown-toggle" data-toggle="dropdown">
				<span class  = 'glyphicon glyphicon-search'></span>
			</a>
			<div class="dropdown-menu" style="padding-left: 5px; padding-right: 5px;">
				<form action={% url "places:getCurLoc" %} method="post" accept-charset="UTF-8">
				{% csrf_token %}
					<div class='input-group'><input type="text" name="searchTerm" class="form-control" placeholder="Nearby:">
						<span class="input-group-btn"><input class="btn btn-default" type="submit" value="go"></span>
					</div>
				</form>

			</div>
		</li>
		
		<li class="dropdown">
			<a href="#filter" class="dropdown-toggle" data-toggle="dropdown"><span class  = 'glyphicon glyphicon-filter'></span></a>
			<ul class="dropdown-menu">
			  <li><a href="#">Filter options</a></li>
			</ul>
		</li>
	  </ul>
	</header>
	

	<script>
		// Fix input element click problem
  		$('.dropdown input, .dropdown label').click(function(e) {
    		e.stopPropagation();
  		});

	</script>
	<div class='content'>
	 {% block content %}{% endblock %} 
    </div>

</body>
</html>
	