<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--Google Maps-->
	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>-->
	
	<!-- bootstrap -->
	{% load staticfiles %}
	<!--<script src="{% static "jquery.js" %}"> </script>-->
	<link type="text/css" href="{{STATIC_URL}}bootstrap-3.0.0/dist/css/bootstrap.css" rel="stylesheet"/>
	<link href="{{STATIC_URL}}bootstrap-3.0.0/dist/css/bootstrap-theme.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}bootstrap-3.0.0/dist/js/bootstrap.js"> </script>
	
	
	<title>{% block title %}{% endblock %}</title>
	
</head>
	
<body>
	<!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
	  <div class="container">
		<div class="navbar-header">
		  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a href="./" class="navbar-brand">Go Out</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		  <ul class="nav navbar-nav">
			<li id='topPadding'>
			  <input type="text" class="form-control" placeholder="Find a place nearby">
			</li>
			<li>
			  <a href="./getting-started">Write Review</a>
			</li>
			<li>
			  <a href="./getting-started">Login</a>
			</li>
		  </ul>
		</nav>
	  </div>
	</header>
	
	<div id='content'>
	 {% block content %}{% endblock %} 
    </div>

</body>
</html>
	