#ballsWaveG{
position:relative;
width:85px;
height:20px}

.ballsWaveG{
position:absolute;
top:0;
background-color:#FFFFFF;
width:11px;
height:11px;
-moz-animation-name:ballsWaveG;
-moz-animation-duration:0.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:6px;
-webkit-animation-name:ballsWaveG;
-webkit-animation-duration:0.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:6px;
-ms-animation-name:ballsWaveG;
-ms-animation-duration:0.5s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:6px;
-o-animation-name:ballsWaveG;
-o-animation-duration:0.5s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:6px;
animation-name:ballsWaveG;
animation-duration:0.5s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:6px;
}

#ballsWaveG_1{
left:0;
-moz-animation-delay:0.2s;
-webkit-animation-delay:0.2s;
-ms-animation-delay:0.2s;
-o-animation-delay:0.2s;
animation-delay:0.2s;
}

#ballsWaveG_2{
left:10px;
-moz-animation-delay:0.25s;
-webkit-animation-delay:0.25s;
-ms-animation-delay:0.25s;
-o-animation-delay:0.25s;
animation-delay:0.25s;
}

#ballsWaveG_3{
left:21px;
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#ballsWaveG_4{
left:31px;
-moz-animation-delay:0.35s;
-webkit-animation-delay:0.35s;
-ms-animation-delay:0.35s;
-o-animation-delay:0.35s;
animation-delay:0.35s;
}

#ballsWaveG_5{
left:42px;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#ballsWaveG_6{
left:53px;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

#ballsWaveG_7{
left:63px;
-moz-animation-delay:0.5s;
-webkit-animation-delay:0.5s;
-ms-animation-delay:0.5s;
-o-animation-delay:0.5s;
animation-delay:0.5s;
}

#ballsWaveG_8{
left:74px;
-moz-animation-delay:0.55s;
-webkit-animation-delay:0.55s;
-ms-animation-delay:0.55s;
-o-animation-delay:0.55s;
animation-delay:0.55s;
}

@-moz-keyframes ballsWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@-webkit-keyframes ballsWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@-ms-keyframes ballsWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@-o-keyframes ballsWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@keyframes ballsWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}