	{% extends "base.html" %}
	{% block title %}about us{% endblock %}

{%block content %}
<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2 align="center">Kefi</h2>
			<p align="center" style="color:#7109AA; font-size:16px;">About Us</p>
		</div>
	</div>
	<br/>
	<div >
		<p>Hi Team,</p>

<p>We want you to always find the best places when you go out for the night. Sure, we all love that mega-rage-all-night club, but sometimes the line is just too long! Or what if your favorite bar has a different bartender today that doesn't have as many cool stories as your bestie Nick the bartender?</p>

<p>It would be great if you knew what the atmosphere is like at the venues you want to visit before you get there. Find out what each bar and club is like right NOW. We care about you having information that applies to your night out, not last night or last week.</p>

<p>We do this by being a team. We go out and use this app to let others know what's happening out there right now. We leave reviews describing what each place is like at the moment. We want to have fun in this moment. </p>

<p>That's why we called this app Kefi. "Kefi" means "fun" in Hebrew and "the spirit of joy" in Greek. We hope you have a Kefi night,</p>

<p>Gal and Paul.</p>
	</div>
	
	
	
</div>
{% endblock %}