	{% extends "base.html" %}
	{% block title %}About Us{% endblock %}

	{%block content %}

	<script type='text/javascript'>

	var objectToLike = 'http://techcrunch.com/2013/02/06/facebook-launches-developers-live-video-channel-to-keep-its-developer-ecosystem-up-to-date/';

	  function postLike() {
    FB.api(
       'https://graph.facebook.com/me/og.likes',
       'post',
       { object: objectToLike,
         privacy: {'value': 'SELF'} },
       function(response) {
         if (!response) {
           alert('Error occurred.');
         } else if (response.error) {
           document.getElementById('result').innerHTML =
             'Error: ' + response.error.message;
         } else {
           document.getElementById('result').innerHTML =
             '<a href=\"https://www.facebook.com/me/activity/' +
             response.id + '\">' +
             'Story created.  ID is ' +
             response.id + '</a>';
         }
       }
    );
  }
</script>


<!--
  Login Button

  https://developers.facebook.com/docs/reference/plugins/login

  This example needs the 'publish_actions' permission in
  order to publish an action.  The scope parameter below
  is what prompts the user for that permission.
-->
<!--
<div
  class="fb-login-button"
  data-show-faces="true"
  data-width="200"
  data-max-rows="1"
  data-scope="publish_actions">
</div>

<div>
This example creates a story on Facebook using the
<a href="https://developers.facebook.com/docs/reference/ogaction/og.likes">
<code>og.likes</code></a> API.  That story will just say
that you like an
<a href="http://techcrunch.com/2013/02/06/facebook-launches-developers-live-video-channel-to-keep-its-developer-ecosystem-up-to-date/">
article on TechCrunch</a>.  The story should only
be visible to you.
</div>

<div>
<input
  type="button"
  value="Create a story with an og.likes action"
  onclick="postLike();">
</div>

<div id="result"></div>-->


<div class="container">
	<div class="jumbotron" style="background-color:#7109AA; color:#FFF; font-family: 'Roboto', sans-serif;">
		<div class="container">
			<p class="jumboTitle" align="center">Kefi</p>
			<p align="center" style="color:#FFF; font-size:12px; font-family: 'Roboto', sans-serif;">About Us</p>
		</div>
	</div>
	<br/>
	<div style="font-family: 'Roboto', sans-serif;">

		<p>We want you to find the best places to dance, drink and catch up with friends.</p>

		<p>The places we go to are constantly changing. The club you where you like to DanceYourFaceOff might be Crickets tonight. The bar that usually serves WeakDrinks might have a new GenerousBartender.</p>

		<p>So use Kefi to find a place that matches your mood for tonight and then get your friends to join.</p>
		<br/>
		<p> That's why we called this app "Kefi"; it means "fun" in Hebrew and "the spirit of joy" in Greek.</p>

		<br/>
		<p>Bring the Kefi tonight,</p>
		<p>Gal and Paul.</p>
	</div>
</div>

{% include "places/tagSelect.html" %}

{% endblock %}