<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta property="og:image" content="http://www.getkefi.com{{STATIC_URL}}KefiSmall.png">
	<meta property="og:title" content="Kefi">
	<meta property="og:url" content="www.getkefi.com">

	<!--Google Maps and Google Places APIs-->

	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->

	<!-- bootstrap -->
	{% load staticfiles %}
	<link type="text/css" href="{{STATIC_URL}}css/goOut/main.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}js/jquery.js"> </script>
	<script src="{{STATIC_URL}}css/bootstrap-3.0.0/dist/js/bootstrap.js"> </script>

	<!--load google fonts!-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

	

	<title>Kefi</title>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49651565-1', 'getkefi.com');
	  ga('send', 'pageview');

	</script>

</head>


<body>
	
	<!--header-->
	<div class = "headerContainer" style="margin:20px 0px 40px 20px;">
		<p style="font-size:80px;">Assassins</p>
		<p style="font-size:30px;">Privacy Statement</p>
	</div>



	<!--terms of use text-->
	<div class="legal">
		<p>This privacy policy governs your use of the software application Assassins (“Application”) for mobile devices that was created by KEFI LABS LLC. The Application allows users to engage in a game of Assassins in a digital manner using mobile phones.</p>

		<div class="h3">USER PROVIDED INFORMATION</div>
		<p>The Application obtains the information you provide when you download and register the Application. Registration with us is optional. However, please keep in mind that you will not be able to use core functionality of the Application. </p>
		<p>When you register with KEFI LABS  LLC and use the Application, you provide (a)  your name and Facebook ID; and (b) game-related information, such as when you create a game, post a comment, or take a picture of someone in the Application. Take note that the Application requires your access to your Facebook account, which you provide to (a) provide your name, (b) your friends who have also installed the application, and (c) your profile picture.</p>
		<p>In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the Application version, and information about the way you use the Application.</p>
		<p>We may also use the information you provided us to contact you from time to time to provide you with important information, required notices and marketing promotions.</p>
		<p>This Application does not collect precise information about the location of your mobile device.</p>

		<div class="h3">THIRD PARTY INFORMATION ACCESS</div>
		<p>Only aggregated, anonymized data is periodically transmitted to external services to help us improve the Application and our service. We will share your information with third parties only in the ways that are described in this privacy statement.</p>
		<p>We may disclose User Provided and Automatically Collected Information:</p>
		<ul>
			<li>as required by law, such as to comply with a subpoena, or similar legal process;</li>
			<li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</li>
			<li>with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</li>
			<li>if KEFI LABS LLC is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</li>
		</ul>

		<div class="h3">OPT-OUT RIGHTS</div>
		<p>You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. </p>

		<div class="h3">MANAGING YOUR INFORMATION</div>
		<p>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 48 months and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at kefiapp@gmail.com and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p>

		<div class="h3">CHILDREN</div>
		<p>We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at kefiapp@gmail.com. We will delete such information from our files within a reasonable time.</p>

		<div class="h3">SECURITY</div>
		<p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>

 		<div class="h3">CHANGES</div>
 		<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by updating this policy and informing you via email and other social media outlets. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.</p>
 
 		<div class="h3">YOUR CONSENT</div>
 		<p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards. </p>

 		<div class="h3">Contact Us</div>
 		<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at kefiapp@gmail.com</p>
	</div>
</body>
</html>



