<!DOCTYPE html>
<html lang="en">
<head>
	<title>GoOut</title>
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		{% load staticfiles %}
		<script src="{{STATIC_URL}}js/jquery.js" > </script>
		<link type="text/css" href="{{STATIC_URL}}css/public.css" rel="stylesheet"/>
		<script src="{{STATIC_URL}}vender/bootstrap-3.1.1/dist/js/bootstrap.js"> </script>

</head>

<body>
	<div class="container" id="home-page">
		<h1><img src="{{STATIC_URL}}Kefi.png" width="150"></h1>
		<p class="lead">Your scene.<br/>Here and Now.</p>

		<button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn btn-primary">
  			Loading..
		</button>

		<hr />

		<img src="{{STATIC_URL}}PoweredByFourSquare.png" width="240" />
	</div>

	<form role="form" class="hidden" method="post" id="locationForm" action="{% url "places:index" %}">
		{% csrf_token %}
		<input type="hidden" id="position" name="position" value="" />
		<input type="hidden" name="search" value="{{search}}" />
		<input type="hidden" name="sortMethod" value="{{sortMethod}}" />
	</form>

	<script>
		$(document).ready(function() {

			//loading state
			$('#loading-example-btn').button('loading');

			// We need to check if the browser has the correct capabilities.
			if (navigator.geolocation) {
				// If so, get the current position and feed it to exportPosition (or errorPosition if there was a problem)
					navigator.geolocation.getCurrentPosition(function(position){
						$('#position').val(position.coords.latitude + ',' + position.coords.longitude);
						$('#locationForm').submit();
					});
			} else {
				// We can still submit the default form if we are unable to detect location
				$('#locationForm').submit();
			}

		});
	</script>
</body>
</html>