<!DOCTYPE html>
<html lang="en">


<head>
	<title>Kefi</title>
	 <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!--Google Maps and Google Places APIs-->
	
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->
	
	<!-- bootstrap -->
	{% load staticfiles %}
	<script src="{{STATIC_URL}}js/jquery.js" > </script>
	<link type="text/css" href="{{STATIC_URL}}css/goOut/main.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}css/bootstrap-3.0.0/dist/js/bootstrap.js"> </script>
		
	
	<!--
	<link type="text/css" href="{{STATIC_URL}}bootstrap-3.0.0/dist/css/bootstrap.css" rel="stylesheet"/>
	<link href="{{STATIC_URL}}bootstrap-3.0.0/dist/css/bootstrap-theme.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}bootstrap-3.0.0/dist/js/bootstrap.js"> </script>
	-->
	
</head>

<body>
	<div class='container'>
		<br/><br/>
		<h1 style=""><img src="{{STATIC_URL}}Kefi.png" width="120.8px" height="50px"></h1>
		
		<!--<p><b>Kefi</b>: fun; spirit of joy</p><br/>-->
		<br/><br/><p style="font-size:24px; color:#4186D3;">Finding nearby venues with #{{hashtag}}</p>
		<br/>

		<button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn btn-primary">
  			Loading..
		</button>
	</div>

	<div class='hidden'>
		<form role="form" method='post' id='locationForm' action="/tag/{{hashtag}}/">
		{% csrf_token %}
			<div class='form-group'>
				<textarea class="form-control insertLoc" id="position" name="position" rows="4"></textarea>
			</div>
			
			<div class='form-group'>
				<textarea class="form-control" id="hashtag" name="hashtag" rows="4">{{hashtag}}</textarea>
			</div>

			<div class="form-group">
				<button type="submit" id='submitButton' class="btn btn-default" name="submit_loc_form">Submit</button>
			</div>
		</form>
		
	</div>


</body>


<script>
	$(document).ready(function() {
		//loading state
		var btn = $('#loading-example-btn');
		btn.button('loading');

		// We need to check if the browser has the correct capabilities.
		if (navigator.geolocation) {
			// If so, get the current position and feed it to exportPosition (or errorPosition if there was a problem)
				navigator.geolocation.getCurrentPosition(LocationForm);
		} 
	
		function LocationForm(position) {
			$('.insertLoc').text(position.coords.latitude + ',' + position.coords.longitude);
			$('#locationForm').submit();
			
		}


	});
</script>