<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta property="og:image" content="http://www.getkefi.com{{STATIC_URL}}KefiSmall.png">
	<meta property="og:title" content="Kefi">
	<meta property="og:url" content="www.getkefi.com">

	<!--Google Maps and Google Places APIs-->

	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->

	<!-- bootstrap -->
	{% load staticfiles %}
	<link type="text/css" href="{{STATIC_URL}}css/goOut/main.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}js/jquery.js"> </script>
	<script src="{{STATIC_URL}}css/bootstrap-3.0.0/dist/js/bootstrap.js"> </script>

	<!--load google fonts!-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

	

	<title>Kefi</title>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49651565-1', 'getkefi.com');
	  ga('send', 'pageview');

	</script>

</head>


<body>
	
	<!--header-->
	<header class="navbar-transparent">
			<!--Brand name-->
			<a href="/"> <img class = "goToIndex" src="{{STATIC_URL}}Kefi.png" alt="Kefi" width="120.8px" height="50px"></img></a>
	</header>

	<div class = "pageContent">
		<img class="jumbotronImg" style="width:100%;" src="{{STATIC_URL}}badPhoneShot.JPG"></img>
	</div>


	<div class="taglineContainer">
		<div>
			<div class="tagline"><span>Kefi. It's your night.</span>
				<!--<a href="/getkefi"><button type="button" class="actionBtn btn btn-primary ">Join our email list</button></a>-->
			</div>
		</div>
	</div>

	<div class="pillars" style="background-color:#0A598F;">
		<div class="pillar" style="font-family:'Roboto', sans-serif; font-size:18px; color: #fff; padding-top:40px;">
			<p>To beta test Kefi, you must:</p>
			<ul>
				<li>Live in the Seattle area.</li>
				<li>Have an iPhone. Android to be supported soon!</li>
			</ul>
			<br/>
			<p> We'd love to have you to try Kefi and provide feedback!</p>
			<br/>
			<form class="form-horizontal" role="form" action="{% url 'places:getKefi_submit' %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-lg-2 control-label" style="font-size:18px;">name:</label>
						<div class="col-lg-8"><input class="form-control" id="name" name="name" placeholder="Mary Jane Schmutzenheimer"></textarea></div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label" style="font-size:18px;">email:</label>
						<div class="col-lg-8"><input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com"></input></div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label" style="font-size:18px;">Any questions or something to note?</label>
						<div class="col-lg-8"><textarea class="form-control" id="note" name="note" rows="4"></textarea></div>
				</div>

				<div class="form-group">
					<label class='control-label'><button type="submit" class="btn btn-primary" name="submit_getKefi_form">Submit</button></label>
				</div>
			</form>
		</div>
	</div>


	<footer>
		<nav>
			<ul>
				<li>
					<a href="/aboutUs">About Us</a>
				</li>
				<li>
					<a href="/getkefi">Join beta</a>
				</li>
				<!--<li>
					<a href="/mailingList">Mailing List</a>
				</li>-->
			</ul>
		</nav>
	</footer>

	<script>
		$(document).ready(function() {
			// set logo height and width
			$('.goToIndex').width($(window).width() / 6);
			$('.goToIndex').height($(window).width() / 6 * .41);


			if ($(window).width() < 716) {
				$('.actionBtn').addClass('btn-xs');
				var carouselHeight = $(window).width()*0.6;
				$('.jumbotronImg').css( "height", carouselHeight);
			}
			else {
				$('.actionBtn').removeClass('btn-xs');
				var carouselHeight = $(window).width() * 0.35;
				$('.jumbotronImg').css( "height", carouselHeight);
			}			
		});

	</script>
</body>
</html>