<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta property="og:image" content="http://www.getkefi.com{{STATIC_URL}}KefiSmall.png">
	<meta property="og:title" content="Kefi">
	<meta property="og:url" content="www.getkefi.com">

	<!--Google Maps and Google Places APIs-->

	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->

	<!-- bootstrap -->
	{% load staticfiles %}
	<link type="text/css" href="{{STATIC_URL}}css/goOut/main.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}js/jquery.js"> </script>
	<script src="{{STATIC_URL}}css/bootstrap-3.0.0/dist/js/bootstrap.js"> </script>

	<!--load google fonts!-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

	

	<title>Kefi</title>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49651565-1', 'getkefi.com');
	  ga('send', 'pageview');

	</script>

</head>


<body>
	
	<!--header-->
	<div class="header">
		
		<div class = "picText">
			<p class="headerText" style="color:#fff;">Kefi</h1>
			<p style="color:#ffffff;">it's your night</p>
		</div>
	</div>


	<div class="taglineContainer hidden">
		<div class="taglineTextarea">
			<div class="tagline"><span>Take the guessing out of your night.</span> &nbsp; &nbsp; &nbsp; 
				<a href="/getkefi"><button type="button" class="actionBtn btn btn-primary ">Sign up</button></a>
			</div>
		</div>
	</div>

	<div class='pillarSection'>
		<div class="pillars" id="pillar1">
			<div class="pillar">
				<div class='pillarHeader'>Find</div>
				<p class='pillarTxt'>Looking for a #chill bar or a club to #danceYourFaceOff?</p>	  <!--Looking for #LustyIntentions?<br/>Found it. </p>-->
				<p class="descriptionKefi">Kefi helps you find places that match your current mood, no matter what it may be. Find the best places to dance and grab drinks in the moment.</p><br/>
				<img class="pillarImg" src="{{STATIC_URL}}kefiLV.jpg" alt="pillar-img">

			</div>
			
		</div>

		<div class="pillars" id="pillar2">	
			<div class="pillar">
				<div class='pillarHeader'>Share</div>
				<p class='pillarTxt'>How do you feel about the bartender and the drink he made you.<br>#GenerousBartender</p>
				<p class="descriptionKefi">Share your thoughts with the Kefi community; are you having a good time? What's going on? Help others know about nightlife around them.</p><br/>
				<img class="pillarImg" src="{{STATIC_URL}}singaporeSling.jpg" alt="pillar-img">
				
			</div>
		</div>

		<div class="pillars" id="pillar3">
			<div class="pillar">
				<div class='pillarHeader'>Here and now</div>
				<p class='pillarTxt'>That bar down the street that you never go to? It's the place to be right now. </p>
				<p class="descriptionKefi">Places have everchanging vibes. Use Kefi to see what people think about the current vibe of the bars near you. </p><br/>
				<img class="pillarImg" src="{{STATIC_URL}}peopleTalking.jpg" alt="pillar-img">
				
			</div>
		</div>

		<div class="pillars" id="pillar4" style="color:#000;" >
			<div class="pillarLast" >
				<div class='pillarHeaderInverse'>Try it!</div>
				<p class='pillarTxtInverse'>Live in Seattle and want to try Kefi for yourself?</p>
				<div style="text-align:center;">
					<a href="/getkefi"><button type="button" class="btn btn-primary">Get Kefi</button></a>
					<a href="/aboutUs"><button type="button" class="btn btn-primary">Learn more</button></a>
				</div>

				<div class="socialMedia" style="color: #A8A8A8;">
					Follow us on:
					<ul class="list-inline">
						<li><a href="https://www.facebook.com/kefiapp"><img class="facebook" src="{{STATIC_URL}}facebook.png"></img></a></li>
						&nbsp; &nbsp;
						<li><a href="https://twitter.com/kefiapp"><img class="twitter" src="{{STATIC_URL}}twitter.png"></img></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<nav>
			<ul>
				<li>
					<a href="/aboutUs">About Us</a>
				</li>
				<li>
					<a href="/getkefi">Join beta</a>
				</li>
				<!--<li>
					<a href="/mailingList">Mailing List</a>
				</li>-->
			</ul>
		</nav>
	</footer>


	<script>
	
		$(document).ready(function() {
			// set logo height and width
			$('.picHeader').width($(window).width() / 4);
			$('.picHeader').height($(window).width() / 4 * .41);


			if (($(window).width() < 500) &&  ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height() * 0.45;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}concert.jpg)"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "15px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "50px");
			}

			else if ($(window).width() < 500) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight) * .5;
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}concert.jpg)"});
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText p").css("padding-left", "12px");

			}

			else if ($(window).width() < 800 && ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height() * 0.8;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}concert.jpg)"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");

			}

			else if ($(window).width() < 800) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}concert.jpg)"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
			}

			else {
				var carouselHeight = $(window).height() * 0.8;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}concert.jpg)"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
			}			
		});

	</script>
</body>
</html>
 