{% for place in placeMatch %}
		
		<div class="venue" id="{{ place.id }}">
			

			<div class="colorWrapper"> <!-- style="border:1px solid rgb({{place.color}});" >-->
				
				
				<img class="venuePic"  src="{{place.picture}}"></img>
				<div class='venueTitle'>{{ place.name }}</div>
				<div class='venueType'>
					{{place.types}}
				</div>
				<div  class="venueDistance">{{place.distance}} mi</div>
			</div>

			

			<div class='venue-info curTag' style="color:rgb({{place.color}});">
				{% for tag in place.hashtags %}
					<span class='indexTag'>#{{ tag }}</span>
				{% endfor %}
			</div>

			<div class="separator">
			</div>
		
		</div>
	{% endfor %}

	{% for place in placeMatchOld %}
		<div class="venue" id="{{ place.id }}">
			<div class="colorWrapper"> <!-- style="color:rgb({{place.color}});" >-->
				<img class="venuePic"  src="{{place.picture}}"></img>
				<div class='venueTitle'>{{ place.name }}</div>
				<div class='venueType'>
					{{ place.types}}		
				</div>
				<div class="venueDistance">{{place.distance}} mi</div>

			</div>

			<div class='venue-info curTag' style="color:rgb({{place.color}});">
				Known For:<br/>
				{% for tag in place.hashtags %}
					<span class='indexTag'>#{{ tag }}</span>
				{% endfor %}
			</div>

			<div class="separator">
			</div>
		</div>
	{% endfor %}
		
	<!--List for items with no data in our DB -->
	{% for place in placeNoMatch %}
		<div class="venue" id="{{ place.id }}">
			<div class="colorWrapper" ><!--style="background-color:rgb({{place.color}});" >-->
				
				<img class="venuePic"  src="{{place.picture}}"></img>
				<div class='venueTitle'>{{ place.name }}</div>
				<div class='venueType'>
					{{place.types}}
				</div>
				<div  class="venueDistance">{{place.distance}} mi</div>

			</div>
			
			<div class='venue-info curTag' style="color:rgb({{place.color}});">
				<div>#NoTags!</div>
				<div class='noReviewsAddress'>
					Be the first to Tag!
					<br/>
				</div>
			</div>
			
			<div class="separator">
			</div>
		</div>
	{% endfor %}