{% extends "base.html" %}

{% block title %}GoOut{% endblock %}

{% block content %}

<div class="placeList">
	{% for place in placeMatch %}
		<div class="venue" id="{{ place.reference }}">
			
			<h4>{{ place.name }}</h4>
			<!--
			<div class = 'venue-pic'>
			
			</div>
			-->
			<div class="venue-left">
				{% for text, score in place.hashtags.items %}
					#{{ text }}: {{ score }}
					<br/>
				{% endfor %}
			</div>
		
		
			<div class = 'venue-right'>
				{{ place.rating }} / 5.0
				<br/>
				{% if place.price_level == 1 %}
					$
				{% elif place.price_level == 2 %}
					$$
				{% elif place.price_level == 3 %}
					$$$
				{% elif place.price_level == 4 %}
					$$$$
				{% elif place.price_level == 5 %}
					$$$$$	
				{% elif place.price_level == -1 %}
					No price!
					
				{% endif %}
				
				<br/>
				{% for type in place.types %}
					{% if type == 'bar' %}
						bar 
					{% elif type == 'night_club' %}
						club
					{% endif %}
				{% endfor %}
					
			</div>
			<br><br><br>
			<div class="separator">
			</div>
		</div>
		

		
	{% endfor %}
</div>
<br/><br/><br/>

<!--List for items with no data in our DB -->
<div class="placeList">
	{% for place in placeNoMatch %}
		<div class="venue" id="{{ place.reference }}">
			<h4>{{ place.name }}</h4>
			<!--
			<div class = 'venue-pic'>
			
			</div>
			-->
			<div class="venue-left">
				<!--googleApi stuff-->
				Google
				<br>
				API
				<br>
				stuff
			</div>
		
		
			<div class = 'venue-right'>
				{{ place.rating }} / 5.0
				<br/>
				{% if place.price_level == 1 %}
					$
				{% elif place.price_level == 2 %}
					$$
				{% elif place.price_level == 3 %}
					$$$
				{% elif place.price_level == 4 %}
					$$$$
				{% elif place.price_level == 5 %}
					$$$$$
				{% elif place.price_level == -1 %}
					No price
				{% endif %}
				
				<br/>
				{% for type in place.types %}
					{% if type == 'bar' %}
						bar 
					{% elif type == 'night_club' %}
						club
					{% endif %}
				{% endfor %}
					
			</div>
			<br><br><br>
			<div class="separator">
			</div>
		</div>
		

		
	{% endfor %}
</div>
<script type = "text/javascript">
	$(document).ready(function() {
		$('.venue').click(function(){
			//link to next page. Search into how this interfaces with django
			location.href = './venue/'+$(this).attr('id');
		});
	
	});

	if (navigator.geolocation) {
		// If so, get the current position and feed it to listPlaces
		navigator.geolocation.getCurrentPosition(listPlaces);
	}
	
	function listPlaces(position){
		var curLat = position.coords.latitude;
		var curLong = position.coords.longitude;
		
		//call for ALL venue types; CHANGE for current position
		apiCall = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+curLat+","+curLong+"&radius=550&types=bar|casino|night_club&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0";
		
		
/*		var callAPI = $.ajax({
			url: apiCall,
			//data: myData,
			type: 'GET',
			crossDomain: true,
			dataType: 'jsonp'
		})
			.done(function(objects){
				$.each(objects.results, function(index, data){
					$('.placeList').append("<div id='"+index+"'>"+data.name+" has a rating of: "+data.rating+"</div>");
					});
				console.log('call complete!');
			})
			
			.fail(function(){
				console.log('WHAT');
			});
			
*/	
		//EITHER THIS CALL OR THE ONE ABOVE IT
		var callAPI= $.getJSON(apiCall, function(json){
			console.log('grabbed json');
		})
			.done(function(json){
				$.each(json.results, function(index, data){
					$('.placeList').append("<div id='"+index+"'>"+data.name+" has a rating of: "+data.rating+"</div>");
					});
				console.log('call complete!');
			})
			
			.fail(function(){
				console.log('WHAT');
			});
		callAPI.complete(function(){
			console.log('second complete');
		});
		
	}
	

</script>
{% endblock %}