{% extends "base.html" %}

{% block title %}Kefi{% endblock %}

{% block content %}


<div class="indexHeader" style="background-image: url('{{STATIC_URL}}indexImage/indexImage1.jpg');">
	<div class="imgText">
		<div class="imgTextContainer">
			<p class="indexKefi" style="font-family:'Roboto', sans-serif; font-size:28px;">Kefi</p>
			<p class="indexTagline" style="font-family:'Roboto', sans-serif; font-size:12px;">Find your Scene.</p>
		</div>
	</div>
</div>
<div class="placeList" id='match'>	
	{% include "places/indexContent.html" %}
	
	<br/><br/><br/>
	<!--yelp button-->
	<!--<div class='right' style="width:100%; bottom:0px; float:right;"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/1589098a542f/developers/Powered_By_Yelp_White.png"></div>-->
</div>
<div class = "FB bucket" style = "width:350px;">
	<div class="fb-like" width="350" data-href="http://www.getkefi.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
</div>

<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>

<!--modal-->
{% include "places/tagSelect.html" %}


<script type = "text/javascript">

	var i = 0;

	$(document).ready(function() {
		//change header until get to right scrolling place
		$('header').css("background-color","rgba(0,0,0,0)");
		$('.goToIndex').css("display","none");
		$('.content').css("margin-top","0px");
		
		$('.venue').click(function(){
			//link to next page. Search into how this interfaces with django
			location.href = './venue/'+$(this).attr('id');
		});
	});

	$(document).on("scroll", function(){
		if ($(document).scrollTop() > 212) {
			$('header').css("background-color", "#222222");
			$('.goToIndex').css("display","inline");
		}

		else {
			$('header').css("background-color", "rgba(0,0,0,0)");
			$('.goToIndex').css("display","none");
		}
	});

</script>
{% endblock %}