{% extends "base.html" %}

{% block title %}Kefi {{name}}{% endblock %}

{% block content %}

<div class='container'>
	<div class="jumbotron" style="color: rgb(46,117,182); font-family:'Roboto', sans-serif;">
		<p class="jumboTitle " align="center">{{name}}</p>
		<!--<div class='intro'>-->
		<div class = 'introInfo '>
			<div align="center">{{venueTypes}}</div>
		</div>

		<div class='left introInfo addressPlaceDetail'>
			<span class="placeDetailSymbols map glyphicon glyphicon-map-marker"></span><br/>
			{% for addresses in address %}
				{{ addresses }}
				{%if not forloop.last %}<br/> {% endif %}
			{% endfor %}
		</div>

		<div class='introInfoRight' style="float:right;">
			{% if placeFavorited %}
				<span class=" favorited placeDetailSymbols glyphicon glyphicon-star"></span><br/>
				<br/>
				<span class="4sqr">4square Page</span>
			{% else %}
				<span class="favorited placeDetailSymbols glyphicon glyphicon-star-empty"></span><br/>
				<br/>
				<span class="4sqr">4square Page</span>
			{% endif %}

					
		</div>

		<div class="tagIt">
			<span class="tagItIcon glyphicon glyphicon-edit"></span>		
			<div style="color:rgb(127,0,127);"> tag it</div>
		</div>


	
		

	</div>
		 <!--
		  <button type='button' class='btn btn-lg btn-default'><a href="#"><span class="glyphicon glyphicon-map-marker"><
		{%else}/span></a></button>
		 -->
	  	<div class="separator"></div>

	<br/>
	<div class="curTags">
		{% if tagsWithFonts %}
			{% for tag,fontSize,freq,username, wasTagged in tagsWithFonts %}
			<div class="tagNode">
				<span class="tagText" style="font-size:{{fontSize}}%; font-family:'Roboto', sans-serif;" id="{{tag}}">
					#{{tag}}
					<span class="freqTag" style="font-size:40%;" >({{freq}}x)</span>

					{% if wasTagged %}
						<span class="didUserTag glyphicon glyphicon-ok freqTag"></span>
					{% else %}
						<span class="didUserTag glyphicon glyphicon-ok freqTag hidden"></span>

					{% endif %}
				</span>
					
				<div class='tagUsername'>
					{% if username == "Kefi" %}
						<span class="username kefiTag" id="{{username}}" >{{username}}</span>
					{%else%}
						<span class="username usernameTag" id="{{username}}">{{username}}</span>
					{%endif%}
				</div>		
			</div>
			{% endfor %}
		

		{%elif oldTags %}
			<!--<div class='h4'>Are you here? <a href="/review/{{ name }}/{{ id }}">Get the party started!</a></div>
			</br><br/>-->
			<h4 id='titleOldTags'>No Tags now. Most known for:</h4>
			{% for tag in oldTags %}
				<p style="font-size:16px; font-family:'Roboto', sans-serif;">#{{tag}}</p>
			{%endfor%}

		{% else%}
			<p> There are no tags for this Venue!</p>
			<p><a href="/review/{{ name }}/{{ id }}">Be the first to review this place!</a></p>
		{% endif %}
	</div>
	
	<br/><br/>


	<!--Comments-->
	<!--
	<div class='placeComments'>
		{% if comments %}
		<h4>Tag Wall:</h4>
		<table class='commentsTable'>
			{% for comment,timestamp in comments%}
				<tr>
					<td><p class='commentUser'>{{comment.User.user.username}}</p></td>
					 <td><p class='commentTimestamp'>{{timestamp}}</p></td>
				</tr>
				<tr >
					<td colspan="2">
						<p class='commentText'> {{comment.comment}}</p></td>
				</tr>
				
			{%endfor%}
		</table>
		{% endif %}

	</div>
	-->
</div>


<!--modal-->
{% include "places/tagSelect.html" %}

<!--yelp button-->
<!--<div class='right' style="width:95%; position:relative; margin-top:3em;"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/1589098a542f/developers/Powered_By_Yelp_White.png"></div>-->

<script  type = "text/javascript">
	var loadingState = '<div id="ballsWaveG"><div id="ballsWaveG_1" class="ballsWaveG"></div><div id="ballsWaveG_2" class="ballsWaveG"></div><div id="ballsWaveG_3" class="ballsWaveG"></div><div id="ballsWaveG_4" class="ballsWaveG"></div><div id="ballsWaveG_5" class="ballsWaveG"></div><div id="ballsWaveG_6" class="ballsWaveG"></div><div id="ballsWaveG_7" class="ballsWaveG"></div><div id="ballsWaveG_8" class="ballsWaveG"></div></div>';

	$(document).ready(function() {

		$('.tag').click(function() {
			if ($(this).hasClass('inactiveTag'))
			{
				$(this).css('background-color','#c0c0c0');
				location.href='/tag/' + $(this).attr('id');
			}

		});

		$(".4sqr").click(function(){
				window.location.href='http://foursquare.com/v/{{id}}?ref=T4XPWMEQAID11W0CSQLCP2P0NXGEUSDZRV4COSBJH2QEMC2O';
		});

		$(".favorited").click(function(){
				window.location.href='/{{ name|urlencode }}/{{ id }}/fav'
		});

		$(".tagIt").click(function(){
				window.location.href='/review/{{ name|urlencode }}/{{ id }}'
		});
						

		$(".map").click(function(){
			alert("Oops! Map functionality coming soon.");
		});


		$(document).on(" touchend",".tagText", function() {
			//pass different information
			if ($(".userName").attr("id") == "1")
			{
				tagText = $(this).attr("id");
				var place = "{{id}}";

				if ($(this).parent().find(".username").attr("id") =="Kefi") {
					$(this).parent().html(loadingState).load("/placeTagUpdate?tagText=" + tagText + "&place=" + place);
				}

				else {
					$(this).parent().html(loadingState).load("/userTagUpdate?tagText=" + tagText + "&place=" + place);
				}
			}

			else	
			{
				alert('uh oh! Please login or signup to quickTag this place.');
			}
		});
	});
</script>
{% endblock %}