{% extends "base.html" %}

{% block title %}Kefi {{name}}{% endblock %}

{% block content %}

<div class='container'>
	<div class="jumbotron" style="background-color:rgb({{color}}); font-family:'Roboto', sans-serif;">
		<p class='jumboTitle whiteText' align="center">{{name}}</p>
		<!--<div class='intro'>-->
		<div class = 'introInfo whiteText'>
			<div  align="center">{{venueTypes}}</div>

			<br/>
			<div class='left introInfo'>
				{% for addresses in address %}
					{{ addresses }}
					{%if not forloop.last %}<br/> {% endif %}
				{% endfor %}
			</div>
		</div>
		<div class='introInfoRight'>
			<div style="float:right;"><a class="noDecoration whiteText" href="http://foursquare.com/v/{{id}}?ref=T4XPWMEQAID11W0CSQLCP2P0NXGEUSDZRV4COSBJH2QEMC2O">4Square Page</div>
			
		</div>
	<!--</div>-->

		<br/>
	  	<div class='btn-group buttonsPlaceDetail' style='width:100%'>
			<a href="/review/{{ name }}/{{ id }}"><button type='button' class='btn btn-default buttonPlaceDetail'><span class="glyphicon glyphicon-edit"></span></button></a>
			
			{% if placeFavorited %}
				<a href="/{{ name }}/{{ id }}/fav"><button type='button' class='btn btn-info buttonPlaceDetail active'><span class="glyphicon glyphicon-star"></span></button></a>
			{% else %}
				<a href="/{{ name }}/{{ id }}/fav"><button type='button' class='btn btn-default buttonPlaceDetail'><span class="glyphicon glyphicon-star"></span></button></a>
			{% endif %}

		</div>
		 <!--
		  <button type='button' class='btn btn-lg btn-default'><a href="#"><span class="glyphicon glyphicon-map-marker"><
		{%else}/span></a></button>
		 -->
	  
	  <!--short menu to write review, see more history, favorite, etc.-->
	</div>

	<br/>
	<div>
		<!--
		{% for tag in tags %}
		<p style="font-size:200%">tags: {{ tag.tag }}</p>
		{% endfor %} -->
		<!--<p>{{photos}}</p>-->


		{% if tagsWithFonts %}
			{% for tag,fontSize,freq in tagsWithFonts %}
			<p style="font-size:{{fontSize}}%; color:rgb({{color}});">#{{tag.tag}} <span class='freqTag' style="font-size:40%;">({{freq}}x)</span></p>
			{% endfor %}

		{%elif oldTags %}
			<div class='h4'>Are you here? <a href="/review/{{ name }}/{{ id }}">Write a review!</a></div>
			</br><br/>
			<h4 id='titleOldTags'>Most common tags:</h4>
			{% for tag in oldTags %}
				<p style="color:rgb({{color}}); font-size:16px">#{{tag}}</p>
			{%endfor%}

		{% else%}
			<p> There are no tags for this Venue!</p>
			<p><a href="/review/{{ name }}/{{ id }}"> Be the first to review this place!</a></p>
		{% endif %}
	</div>
	
	<br/>
	<br/>
	<br/>
	<br/>

	<!--Comments-->
	<div class='placeComments'>
		<h4>Comments:</h4>
		<table class='commentsTable'>
			{% for comment,timestamp in comments%}
				<tr>
					<td><p class='commentUser'>{{comment.User.user.username}}</p></td>
					 <td><p class='commentTimestamp'>{{timestamp}}</p></td>
				</tr>
				<tr >
					<td colspan="2"><p class='commentText'> {{comment.comment}}</p></td>
				</tr>
				
			{%endfor%}
		</table>

	</div>
</div>

<!--yelp button-->
<!--<div class='right' style="width:95%; position:relative; margin-top:3em;"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/1589098a542f/developers/Powered_By_Yelp_White.png"></div>-->
{% endblock %}