<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>untitled</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
</head>

<body>
    <h1> hi </h1>
    <h1>{{ access_token }}</h1>
    <h2>{{ code }}</h2>
    <script type="text/javascript" charset="utf-8">
    /*
        if (window.navigator.userAgent.indexOf('iPhone') != -1) {
            // grab code

            if (window.navigator.standalone == true) {
                window.location = "kefiCallback";
            }
        };
    */
    </script>
</body>
</html>