<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta property="og:image" content="http://www.getkefi.com{{STATIC_URL}}rippleHeaderLogoSmall.png">
	<meta property="og:title" content="Kefi">
	<meta property="og:url" content="www.getkefi.com">

	<!--Google Maps and Google Places APIs-->

	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->

	<!-- bootstrap -->
	{% load staticfiles %}
	<link type="text/css" href="{{STATIC_URL}}css/goOut/main.css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{STATIC_URL}}rippleHeaderLogoSmall.png">
	<script src="{{STATIC_URL}}js/jquery.js"> </script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<script src="//www.parsecdn.com/js/parse-1.3.5.min.js"></script>

	<!--load google fonts!-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>

	

	<title>Ripple</title>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49651565-1', 'getkefi.com');
	  ga('send', 'pageview');

	</script>

</head>


<body>
	
		
	<!--header-->
	<div class="header">
		
		<div class = "picText" style="float:left; width:200px;">
			<img class="rippleImg" id="rippleImg" src="{{STATIC_URL}}rippleHeaderLogo.png" style="float:left;padding:20px 20px 0px 20px;" width="200px;">
			<p class="headerText" style="color:#fff; margin-left:10%; margin-bottom:-10px;">Ripple</p>
			<p class = "headerSubtext" style="color:#aaa; font-size:25px; margin-left:10%;">spread your thoughts</p>
		</div>


		<!-- featured image -->
		<img class="rippleFeature" id="rippleFeaturedImg" src="{{STATIC_URL}}RippleFeedPage.png" style="padding-left:10%">

		<!--Featured Bar -->
		<div class="downloadActionBar">
			<a href="https://itunes.apple.com/us/app/ripple-spread-your-thoughts/id946792245?ls=1&mt=8"><img class="iOS" src="{{STATIC_URL}}Download_on_the_App_Store_Badge_US-UK_135x40.png" width="300px"></a>
			<br/><br/><br/><br/><br/><br/>

			<div class="androidSignup">
				<p id="androidText" style="color:#ddd; font-size:30px; font-family:'Roboto', sans-serif;">Our Android version is coming soon!<br/><span id="androidSubtext" style="font-size:20px; color:#aaa">We'll let you know when it's here:</span></p>

				<div style="width:70%">
				    <div class="input-group">
				      <input type="text" id="emailForAndroid" class="form-control" placeholder="email">
				      <span class="input-group-btn">
				        <button class="btn btn-default" id="submitEmailAndroid" type="button">notify me!</button>
				      </span>
				    </div>
				</div>
			 </div>
		</div>
			
	</div>

	<div class="scrollOverFeaturedBar">
		<div class="featuredBar">
			<p class ="featureBarTitle" align="center"> As seen on:</p>
			<table class="featuredTable">
				<tr>
					<td><a href="http://www.geekwire.com/2015/ripple/"><img class="featuredImg" id="geekwire" src="{{STATIC_URL}}geekwire.png" width="40%"></a></td>

					<td><a href="http://www.raywenderlich.com/94330/readers-app-reviews-january-2015"><img class="featuredImg" id="rayw" src="{{STATIC_URL}}raywenderlich.png" width="10%"></a></td>

					<td><a href="http://www.tuaw.com/2015/01/17/spread-kind-messages-far-and-wide-with-the-ripple-effect/"><img class="featuredImg" id="tuaw" src="{{STATIC_URL}}tuaw.png" width="20%"></a></td>
				</tr>
			</table>
		</div>

		<!--pillar section-->
		<div class='pillarSection'>
			<div class="pillars" id="ripplePillar1">
				<div class="pillar">
					<div class='pillarHeader'>Share</div>
					<p class='pillarTxt'>Share a thought, local event, or joke with people near you</p>
					<p class="rippleDescription">Sharing your latest idea? Start a ripple<br/>Promoting a cool local event? Ripple it<br/>Telling a funny story? Ripple</p><br/>
					<img class="pillarImg" src="{{STATIC_URL}}startRippleExamples.png" alt="pillar-img">

				</div>
			</div>


			<div class="pillars" id="ripplePillar2">	
				<div class="pillar">
					<div class='pillarHeader'>Spread</div>
					<p class="pillarTxt">Help interesting and relevant ripples reach your community and people across the world</p>
					<p class="rippleDescription">The more people spread a ripple, the further it travels</p><br/>
					<img class="pillarImg" src="{{STATIC_URL}}rippleAripple.png" alt="pillar-img">
					
				</div>
			</div>

			<div class="pillars" id="ripplePillar3">
				<div class="pillar">
					<div class='pillarHeader'>Follow</div>
					<p class='pillarTxt'>Watch your ripples spread</p>
					<img class="pillarImg" src="{{STATIC_URL}}rippleMapExamples.png" alt="pillar-img">
				<br/><br/>
					<p class='pillarTxt'>We just started, but ripples are already spreading across the world!</p></br>
					<div align="center">
						<iframe align="middle" width='80%' height='520' frameborder='0' src='http://galoshri.cartodb.com/viz/d1b9b142-86eb-11e4-9b89-0e4fddd5de28/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
					</div>
				</div>
			</div>

			<!--
			<div class="pillars" id="ripplePillar4">
				<div class="pillar">
					<div class='pillarHeader'>Grow</div>
					<p class='pillarTxt'>Gain levels to increase your "reach", the number of people who receive your ripples</p>
					<p class="rippleDescription">The more people that get your ripples, the faster content spreads</p><br/>
					<img class="pillarImg" src="{{STATIC_URL}}levelRipple.png" alt="pillar-img">
				</div>
			</div>
		-->

			<div class="pillars" id="ripplePillar5" style="color:#000;" >
				<div class="pillarLast" >
					<div class='pillarHeaderInverse'>
						<p style="margin-bottom:20px;">Start Rippling!</p>
						<a href="https://itunes.apple.com/us/app/ripple-spread-your-thoughts/id946792245?ls=1&mt=8"><img class="iOS" src="{{STATIC_URL}}Download_on_the_App_Store_Badge_US-UK_135x40.png"></a>
					</div>
					<div class="socialMedia">
						Follow us on:
						<ul class="list-inline">
							<!--<li><a href="https://www.facebook.com/kefiapp"><img class="facebook" src="{{STATIC_URL}}facebook.png"></img></a></li>
							&nbsp; &nbsp; -->
							<li><a href="https://twitter.com/RippleMeThis"><img class="twitter" src="{{STATIC_URL}}twitter.png"></img></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- foooter -->
		<footer>
			<nav>
				<ul style="font-size:10px;">
					<li>
						<a href="/ambassador">ambassador program</a>
					</li>
					<li>
						<a href="/ripple/terms">terms</a>
					</li>
					<li>
						<a href="/ripple/privacy">privacy</a>
					</li>
				</ul>
			</nav>
		</footer>
	</div>


	<!--script-->
	<script>
	
		$(document).ready(function() {
			setHeaderSize();

			Parse.initialize("oXaRo5X3EtGIcGOBJ99XrjKOOoRx0uNmmImozk0f", "NM1TZBA8m3Spe5WlNhqjKotIzN0RKmyJyTcuLhv0");

			$('#submitEmailAndroid').on('click', function () {
				// call cloud function on Kefi App
				Parse.Cloud.run('submitEmailAndroid', {email: $('#emailForAndroid').val()}, {
				  success: function(result) {
				    alert("Thanks! We'll let you know when Ripple is on Android!");

				    // clear email
				    document.getElementById("emailForAndroid").value = "";
				  },
				  error: function(error) {
				  	alert("uh oh! That didn't work. Please try again.");
				  }
				});
			});			
		});

		$( window ).resize(function() {
			setHeaderSize();
		});

		function setHeaderSize()
		{
			// set logo height and width
			$('.header').css("background-color", "#055a93");


			if (($(window).width() < 500) &&  ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height() * 0.5;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.iOS').css("width", '150px');
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);
				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 30%"});

				$("#geekwire").width("50%");
				$("#rayw").width("22%");
				$("#tuaw").width("40%");

				$('.downloadActionBar').css("padding-top", "10%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "15px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "40px");
				$(".headerSubtext").css("font-size", "15px");

				$("footer nav ul li ").css("margin-right", "40px");
				$("footer a").css("font-size", "14px");
			}

			else if ($(window).width() < 500) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight) * .5;
				$('.header').css("width", $(window).width());
				$('.iOS').css("width", '150px');
				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 50%"});
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);

				$("#geekwire").width("50%");
				$("#rayw").width("22%");
				$("#tuaw").width("40%");

				$('.downloadActionBar').css("padding-top", "10%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "50px");

				$("footer nav ul li ").css("margin-right", "40px");
				$("footer a").css("font-size", "14px");
			}

			else if ($(window).width() < 700 && ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);

				$("#geekwire").width("50%");
				$("#rayw").width("22%");
				$("#tuaw").width("40%");

				$('.downloadActionBar').css("padding-top", "10%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				
				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 40%"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");

				$("footer nav ul li ").css("margin-right", "60px");
				$("footer a").css("font-size", "18px");
			}

			else if ($(window).width() < 700) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);
				$('.downloadActionBar').css("padding-top", "10%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				


				$("#geekwire").width("50%");
				$("#rayw").width("22%");
				$("#tuaw").width("40%");

				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 80%"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");

				$("footer nav ul li ").css("margin-right", "100px");
				$("footer a").css("font-size", "18px");
			}

			else if ($(window).width() < 850 && ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);


				$('.downloadActionBar').css("padding-top", "40%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "55%");

				$('.iOS').css("width", "200px");
				$('#androidText').css("font-size","18px");
				$('#androidSubtext').css("font-size","15px");
				$('.androidSignup').css("margin-top","70px");
				$('.iOS').css("width", "200px");
				$('#rippleFeaturedImg').css("padding-left", "20px");

				


				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoMedium.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 50%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
				$('.picText').css("margin-bottom", "10%");

				$("footer nav ul li ").css("margin-right", "100px");
				$("footer a").css("font-size", "18px");
			}

			else if ($(window).width() < 850) {
				var carouselHeight = $(window).height()*1.1;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);

				$('.downloadActionBar').css("padding-top", "40%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "40%");
				$('#rippleFeaturedImg').css("padding-left", "20px");

				
				$('#androidText').css("font-size","20px");
				$('#androidSubtext').css("font-size","12px");
				$('.androidSignup').css("margin-top","70px");
				$('.iOS').css("width", "200px");
				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoMedium.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 60%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"100%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");	
				$('.picText').css("margin-bottom", "10%");
				$('#rippleFeaturedImg').css("padding-left", "20px");

				$("footer nav ul li ").css("margin-right", "100px");
				$("footer a").css("font-size", "18px");
			}

			else if ($(window).width() < 1000 && ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);

				$('.downloadActionBar').css("padding-top", "10%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				$('#rippleFeaturedImg').css("padding-left", "20px");
				


				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoMedium.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 50%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");

				$("footer nav ul li ").css("margin-right", "100px");
				$("footer a").css("font-size", "18px");
			}

			else if ($(window).width() < 1000) {
				var carouselHeight = $(window).height()*1.1;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);

				$('.downloadActionBar').css("padding-top", "30%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				$('#rippleFeaturedImg').css("padding-left", "20px");

				
				$('#androidText').css("font-size","23px");
				$('#androidSubtext').css("font-size","18px");
				$('.androidSignup').css("margin-top","70px");
				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoMedium.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 60%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"100%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");	
				$('.picText').css("margin-bottom", "5%");

				$("footer nav ul li ").css("margin-right", "100px");
				$("footer a").css("font-size", "18px");
			}

			else if ($(window).width() < $(window).height())
			{
				var carouselHeight = $(window).height() * 0.5;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);
				$('.downloadActionBar').css("padding-top", "10%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				

				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogo.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 50%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");

				$("footer nav ul li ").css("margin-right", "100px");
				$("footer a").css("font-size", "18px");
			}

			else
			{
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());
				$('.downloadActionBar').css("padding-top", "20%");
				$('.downloadActionBar').css("margin-left", "60%");
				$('#rippleFeaturedImg').css("float", "left");
				$('#rippleFeaturedImg').css("width", "50%");
				
				$('#androidText').css("font-size","30px");
				$('#androidSubtext').css("font-size","20px");
				$('.androidSignup').css("margin-top","50px");

				$('.picHeader').width($(window).width() / 4);
				$('.picHeader').height($(window).width() / 4 * .41);

				$("#geekwire").width("35%");
				$("#rayw").width("12%");
				$("#tuaw").width("25%");

				//$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoMedium.png)", "background-repeat":"no-repeat", "background-position":"4% 70%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"100%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");

				$("footer nav ul li ").css("margin-right", "100px");
				$("footer a").css("font-size", "18px");
			}
		}
	</script>
</body>
</html>



