<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta property="og:image" content="http://www.getkefi.com{{STATIC_URL}}KefiSmall.png">
	<meta property="og:title" content="Kefi">
	<meta property="og:url" content="www.getkefi.com">

	<!--Google Maps and Google Places APIs-->

	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->

	<!-- bootstrap -->
	{% load staticfiles %}
	<link type="text/css" href="{{STATIC_URL}}css/goOut/main.css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{STATIC_URL}}rippleLogo.png">
	<script src="{{STATIC_URL}}js/jquery.js"> </script>
	<script src="{{STATIC_URL}}css/bootstrap-3.0.0/dist/js/bootstrap.js"> </script>

	<!--load google fonts!-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

	

	<title>Ripple</title>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49651565-1', 'getkefi.com');
	  ga('send', 'pageview');

	</script>

</head>


<body>
	
		
	<!--header-->
	<div class="header">
		
		<div class = "picText" style="float:left; width:200px;">
			<p class="headerText" style="color:#000;">Ripple</h1>
			<p class = "headerSubtext" style="color:#686868; font-size:25px;">How far will your ripples go?</p>
		</div>
	</div>

	<!--pillar section-->
	<div class='pillarSection'>
		<div class="pillars" id="ripplePillar1">
			<div class="pillar">
				<div class='pillarHeader'>Share</div>
				<p class='pillarTxt'>Share a thought, story, or joke with people near you</p>
				<p class="rippleDescription">Want to share your latest idea? Start a ripple.<br/>Want to tell people about a cool local event? Ripple it.<br/>Want to tell a funny story? Ripple.</p><br/>
				<img class="pillarImg" src="{{STATIC_URL}}startRippleExamples.png" alt="pillar-img">

			</div>
		</div>


		<div class="pillars" id="ripplePillar2">	
			<div class="pillar">
				<div class='pillarHeader'>Spread</div>
				<p class="pillarTxt">Help interesting and relevant ripples reach your community and people across the world</p>
				<p class="rippleDescription">Swipe right to pass a ripple you like to more people. The more people like a ripple, the further it spreads</p><br/>
				<img class="pillarImg" src="{{STATIC_URL}}rippleAripple.png" alt="pillar-img">
				
			</div>
		</div>

		<div class="pillars" id="ripplePillar3">
			<div class="pillar">
				<div class='pillarHeader'>Follow</div>
				<p class='pillarTxt'>Watch your ripples spread</p>
				<img class="pillarImg" src="{{STATIC_URL}}rippleMapExamples.png" alt="pillar-img">
			<br/>
				<p class='pillarTxt'>We just started, but ripples are already spreading across the world</p></br>
				<div align="center">
					<iframe align="middle" width='80%' height='520' frameborder='0' src='http://galoshri.cartodb.com/viz/d1b9b142-86eb-11e4-9b89-0e4fddd5de28/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="pillars" id="ripplePillar4">
			<div class="pillar">
				<div class='pillarHeader'>Grow</div>
				<p class='pillarTxt'>Gain levels to increase your "reach", the number of people who receive your ripples</p>
				<p class="rippleDescription">The more people that get your ripples, the faster content spreads</p><br/>
				<img class="pillarImg" src="{{STATIC_URL}}levelRipple.png" alt="pillar-img">
			</div>
		</div>

		<div class="pillars" id="ripplePillar5" style="color:#000;" >
			<div class="pillarLast" >
				<div class='pillarHeaderInverse'>
					<p style="margin-bottom:20px;">Are you ready?</p>
					<a href="https://itunes.apple.com/us/app/ripple-spread-your-thoughts/id946792245?ls=1&mt=8"><img src="{{STATIC_URL}}Download_on_the_App_Store_Badge_US-UK_135x40.png"></a>
				<div class="socialMedia">
					Follow us on:
					<ul class="list-inline">
						<!--<li><a href="https://www.facebook.com/kefiapp"><img class="facebook" src="{{STATIC_URL}}facebook.png"></img></a></li>
						&nbsp; &nbsp; -->
						<li><a href="https://twitter.com/RippleMeThis"><img class="twitter" src="{{STATIC_URL}}twitter.png"></img></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- foooter -->
	<footer>
		<nav>
			<ul>
				<li>
					<a href="/assassins/terms">terms of use</a>
				</li>
				<li>
					<a href="/assassins/privacy">privacy statement</a>
				</li>
			</ul>
		</nav>
	</footer>


	<!--script-->
	<script>
	
		$(document).ready(function() {
			setHeaderSize();			
		});

		$( window ).resize(function() {
			setHeaderSize();
		});

		function setHeaderSize()
		{
			// set logo height and width
			$('.picHeader').width($(window).width() / 4);
			$('.picHeader').height($(window).width() / 4 * .41);


			if (($(window).width() < 500) &&  ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height() * 0.5;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 40%"});


				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "15px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "50px");
				$(".headerSubtext").css("font-size", "15px");
			}

			else if ($(window).width() < 500) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight) * .5;
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 50%"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "50px");
			}

			else if ($(window).width() < 700 && ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height() * 0.6;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 40%"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
			}

			else if ($(window).width() < 700) {
				var carouselHeight = $(window).height();
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 80%"});

				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
			}

			else if ($(window).width() < 1000 && ($(window).width() < $(window).height())) {
				var carouselHeight = $(window).height() * 0.8;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoMedium.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 50%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
			}

			else if ($(window).width() < 1000) {
				var carouselHeight = $(window).height() * 0.8;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogoSmall.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 60%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");	
			}

			else if ($(window).width() < $(window).height())
			{
				var carouselHeight = $(window).height() * 0.5;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogo.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 50%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
			}

			else
			{
				var carouselHeight = $(window).height() * 0.8;
				$('.header').css( "height", carouselHeight);
				$('.header').css("width", $(window).width());

				$('.header').css({"backgroundImage": "url({{STATIC_URL}}rippleHeaderLogo.png)", "background-repeat":"no-repeat", "background-attachment":"fixed", "background-position":"50% 30%"});

				//$(".picText").css("padding-top", carouselHeight *.1);
				$(".picText").css({"margin": "0 auto", "width":"80%"});
				$(".picText").css("font-size", "30px");
				$(".picText p").css("padding-left", "12px");
				$(".headerText").css("font-size", "100px");
			}
		}
	</script>
</body>
</html>



