<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta property="og:image" content="http://www.getripple.io{{STATIC_URL}}rippleHeaderLogoSmall.png">
	<meta property="og:title" content="Ripple Careers">
	<meta property="og:url" content="www.getkefi.com">

	<!--Google Maps and Google Places APIs-->

	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAWf1WnMo_4s35yeXZ-kZyF-QZ7m5MwqP0"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>-->

	<!-- bootstrap -->
	{% load staticfiles %}
	<link type="text/css" href="{{STATIC_URL}}css/goOut/main.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}js/jquery.js"> </script>
	<script src="{{STATIC_URL}}css/bootstrap-3.0.0/dist/js/bootstrap.js"> </script>

	<!--load google fonts!-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

	

	<title>Ripple Careers</title>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49651565-1', 'getkefi.com');
	  ga('send', 'pageview');

	</script>
</head>

<body>
	<!--header-->
	<div class="header">
		<div class = "header" style="padding-top:8%;">
			<p class="centerText" align="center" style="color:#fff; font-size:50px; font-family: 'Roboto', sans-serif;">Ripple Careers</p>
			<p class = "centerSubtext" align="center" style="color:#f27995; font-size:30px;font-family: 'Roboto', sans-serif;">explore your world</p>
		</div>
	</div>

	<div class="ambassadorExplanation">
		<!--Share with people near you - and beyond<br/> See what people on campus and around the world are thinking and doing <br/> Get out of your bubble. <br/>-->


		<br/><br/>
		<blockquote>
			<p style="font-size:25px; color:#F03661;"><em>Ripple is redefining how information travels.<br/>Be a part of the journey.</em></p>
		</blockquote>
		<br/>
		<br/>
		<p style="color:#055a93; font-size:30px;">Our Mission</p>
		<p>Our goal is to make Ripple the service people use when they want to share their latest joke, an upcoming local event, or something others near them would find engaging. </p><br/>
		<p style="padding-bottom:100px;">Our mission is to find the niches of people that will first realize Ripple’s potential and fall in love with the service. Once we have found those groups, we will need to feed the chain reaction of the word-of-mouth, viral growth engine that would follow.</p>


		<p style="color:#055a93; font-size:30px;">What We Need</p>
		<p>Below are the list of items that Ripple needs help with.<br/>These tasks will require a solid grasp in development skills, data analytics, marketing, and/or strategy. </p><br/>

		<ol class="positions">
			<br/>
			<li style="padding-bottom:60px;">
				<p style="font-size:25px;">Objective-C/Swift, Java/Android SDK, Javascript, Python Developer</p>
				<br/>
				We have an iOS and Android client, and two different codebases.<br/><br/>
				As we discover new ways that we can provide value to users, we will need client changes. There are also always bugs that we need to fix and improve. <br/><br/>
				We are looking for someone to drive client testing, bug fixing, and the development of new features during their time with us. 

			</li>

			<li style="padding-bottom:60px;">
				<p style="color:#055a93; font-size:25px;">Niche Discovery</p>
				<br/>
				One way to attract attention is to run competitions, host upcoming conferences/events/meetups,  etc, and raise awareness from these campaigns. Think something like a competition where the most spread photograph earns $40 to amazon; this is something we can post in several places/mediums and attract attention. <br/><br/>

				We need someone to drive several campaigns to raise awareness and to help determine what tactics work best for user acquisition and engagement.

			</li>

			<li style="padding-bottom:60px;">
				<p style="color:#055a93; font-size:25px;">Ripple Campaigns</p>
				<br/>
				As mentioned, our goal is going to be to discover the group of people that will first realize Ripple’s potential. At the moment, we are targeting photographers, comedians, and college students. <br/><br/>
				We need someone to drive the niche discovery with the groups mentioned here, and to expand the search. This includes trying to market Ripple to more people, hearing feedback on the product from these users, and engage in guerilla growth tactics to increase awareness for these niches. 
			</li>


			<li style="padding-bottom:60px;">
				<p style="color:#055a93; font-size:25px;">Hypothesis Testing</p>
				<br/>
				We need to experiment with our algorithms and content to find what it is that our users best respond to. Do they prefer to be flooded with ripple posts? How much does a lack of ripples effect our engagement levels? Is there a significant increase in activity if we have clustering of users?<br/><br/>
				
				We need someone to drive these hypotheses, determine what the best environment is to maximize our engagement and user levels, and make sure that we recreate that environment every day. 
			</li>

			<li style="padding-bottom:60px;">
				<p style="color:#055a93; font-size:25px;">Power User Engagment and Outreach</p>
				<br/>
				At this early stage in a company, it is imperative that we keep our best customers happy and engaged. They will be the ones that will start the viral chain reaction of telling their friends to download Ripple. <br/><br/>

				We need someone to drive user outreach, power user feedback sessions, and strategy on how to put each power user in a position to promote Ripple

			</li>
		</ol>


		<p>Do one or more of these things get you excited? Let's talk. <br/> Email paulstavropoulos [at] gmail [dot] com to set up a time to chat.</p>

	</div>


	<script>
	
		$(document).ready(function() {
			setHeaderSize();			
		});

		$( window ).resize(function() {
			setHeaderSize();
		});

		function setHeaderSize()
		{
			// set logo height and width
			$('.header').css("background-color", "#055a93");
			var carouselHeight = $(window).height() * 0.5;
			$('.header').css( "height", carouselHeight);
			$('.header').css("width", $(window).width());
			$('.formIframe').css("width", $(window).width());
			$('.formIframe').css("height", '1500px');

			if ($(window).width() < 500) 
			{
				$(".centerText").css("font-size", "50px");
				$(".centerSubtext").css("font-size", "20px");

			}
			else
			{
				$(".centerText").css("font-size", "80px");
				$(".centerSubtext").css("font-size", "40px");	
			}
		}
	</script>
</body>