{% extends "base.html" %}

{% block title %}GoOut{% endblock %}

{% block content %}
<!-- Single button -->
<div class='margins'>
	<h2 align='center'>{{ name }}</h2>
	{% autoescape on %}
	<form role="form" method='post' action={% url "places:submit_submitReview" %}>
		{% csrf_token %}
		<div id='add-tags'> <!--to add other hashtag dropdowns -->
			<div class="form-group">
				<select class="form-control input-lg col-xs-4" id="tag0" name="tag0">
					<option>Select Tag:</option>
					
					{% for tag in tags %}
						<option>{{ tag.text }}</option>
					{% endfor %}
				</select>
				
				
				
				
				<!--<div class="btn-group">
					<button type="button" class="btn btn-default btn-lg dropdown-toggle btn-tag" data-toggle="dropdown">
							Select tag:  <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						{% for tag in tags %}
							<li class='btn-tag'><a class='btn-tag' href='#'>{{ tag }}</a></li>
						{% endfor %}
					</ul>
				</div>-->
			</div>
		</div>
		<br/><br/><br/>
		<div>
			<button type="button" id='add-tag' class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Add tag</button>
		</div>
		
		<div class='form-group hidden'>
			<textarea class="form-control" id="venueId" name="venueId" rows="4">{{ id }}</textarea>
		</div>
		
		<div class='form-group hidden'>
			<textarea class="form-control" id="venueName" name="venueName" rows="4">{{ name }}</textarea>
		</div>
		
		<br/> <br/>
		<div class="form-group">
			<div class="col-lg-6"><textarea class="form-control" id="comments" name="comments" rows="4" placeholder='Add Comment: 140 Characters'></textarea></div>
		</div>
		<br/>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="submit_tags_form">Submit</button>
		</div>
	</form>
	{% endautoescape %}
</div>
<br/><br/>
<!--add button to add another tag, breh-->


<script>
$(document).ready(function() {
	var numTags = 0;
	
	/*$(document).on('click', ".dropdown-menu li", function(){
		//console.log($(this).text());
		//console.log('hi');
		//console.log($(this).attr('class'));
		$('button.'+$(this).attr('class')).text($(this).text());
		$('button.'+$(this).attr('class')).val($(this).text());
		$('button.'+$(this).attr('class')).append('    <span class="caret"></span>');
	});*/
	
   
   $("#add-tag").click(function(){
		numTags++;
		$('#add-tags').append('<br/><br/><br/><select class="form-control input-lg col-xs-4" id="tag'+numTags+'" name="tag'+numTags+'"><option>Select Tag:</option>{% for tag in tags %}<option>{{ tag }}</option>{% endfor %}</select>');
		
		
		//<div class="form-group"><div class="btn-group"><button type="button" class="btn btn-default btn-lg dropdown-toggle btn-tag'+numTags+'" data-toggle="dropdown">Select tag:  <span class="caret"></span></button><ul class="dropdown-menu" role="menu">{% for tag in tags %}<li class="btn-tag'+numTags+'"><a class="btn-tag'+numTags+'" href="#">{{ tag }}</a></li>{% endfor %}</ul></div></div>');
	});
});



</script>
{% endblock %}