	{% extends "base.html" %}
	{% block title %}Hashtag Filter{% endblock %}

{%block content %}
	<p class="h3"style="font-family:'Roboto', sans-serif; text-align:center;">#{{hashtag}}</p>

	{% for place in placeTagList %}
		<div class="venue" id="{{ place.id }}">
			<div align="right" class="venueInternalRight">
				{{place.distance}} mi
			</div>

			<div class='venue-info curTag' style="color:rgb({{place.color}});">
				{% for tag in place.hashtags %}
					<span class='indexTag'>#{{ tag }}</span>
				{% endfor %}
			</div>

			<br/>
			<div class="colorWrapper" style="background-color:rgb({{place.color}});" >
				<img class="venuePic"  src="{{place.picture}}"></img>
				<div class='venueTitle'>{{ place.name }}</div>
				<div class='venueType'>
					{{place.types}}
				</div>
				<br/>
			</div>

			
			<div class="separator">
			</div>
		</div>
	{% endfor %}
	




{% endblock %}