	{% extends "base.html" %}
	{% block title %}Hashtag Filter{% endblock %}

{%block content %}
<div class="container">
	<div class="jumbotron">
		
		<p class= "jumboTitle" style="font-family:'Roboto', sans-serif; text-align:center;">#{{hashtag}}</p>

		<br/>
	</div>
</div>
	{% for place in placeTagList %}
		<div class="venue" id="{{ place.id }}">
			<div align="right" class="venueInternalRight">
				{{place.distance}} mi
			</div>

			<div class='venue-info curTag' style="color:rgb({{place.color}});">
				{% for tag in place.hashtags %}
					<span class='indexTag'>#{{ tag }}</span>
				{% endfor %}
			</div>

			<br/>
			<div class="colorWrapper" style="background-color:rgb({{place.color}});" >
				<img class="venuePic"  src="{{place.picture}}"></img>
				<div class='venueTitle'>{{ place.name }}</div>
				<div class='venueType'>
					{{place.types}}
				</div>
				<br/>
			</div>

			
			<div class="separator">
			</div>
		</div>
	{% endfor %}
	

	<!--modal-->
	<div class="modal fade bs-example-modal-sm" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="font-family:'Roboto', sans-serif;">
				<div class="modal-header">Pick a tag to see matched venues!</div>
				<div class="modal-body">
					{% for tag in tags %}
						<div class="tag inactiveTag" id="{{tag}}">#{{tag}}</div>
					{%endfor%}
				</div>
			</div>
		</div>
	</div>

<script>
	$(document).ready(function() {
		$('.tag').click(function() {
				if ($(this).hasClass('inactiveTag'))
				{
					$(this).css('background-color','#c0c0c0');
					location.href='/tag/' + $(this).attr('id');
				}
			});
	});
</script>

{% endblock %}