{% if freq > 0  %}
	<div class="tagNode">
		<span class="tagText" style="font-size:{{fontSize}}%; font-family:'Roboto', sans-serif;" id="{{tag}}">
			#{{tag}}
			<span class="freqTag" style="font-size:40%;" >({{freq}}x)</span>
			
			{% if wasTagged %}
				<span class="didUserTag glyphicon glyphicon-ok freqTag"></span>
			{% else %}
				<span class="didUserTag glyphicon glyphicon-ok freqTag hidden"></span>

			{% endif %}
		</span>
			
		<div class='tagUsername'>
			{% if username == "Kefi" %}
				<span class="username kefiTag" id="{{username}}" >{{username}}</span>
			{%else%}
				<span class="username usernameTag" id="{{username}}">{{username}}</span>
			{%endif%}
		</div>		
	</div>

{% else %}

{% endif %}