{% extends "base.html" %}

{% block title %}Favorite Venues{% endblock %}


{% block content %}
<h4 align ='center'> {{user}}'s Favorite Places:</h4>

<!--all, or near your?-->
{% if favorites|length > 0 %}

	<div class="placeList">
		<br/>
		{% for place in favorites %}
			<div class="venue" id="{{ place.id }}">
				
				<h4>{{ place.name }}</h4>
				<!--
				<div class = 'venue-pic'>
				
				</div>
				-->
				<div class="favListTags">
					{% for text in place.hashtags %}
						#{{ text }}
						{%if not forloop.last %}<br/>{% endif %}
					{% endfor %}
				</div>
		
				<!--
				<div class = 'venue-right'>
					
					{{ place.rating }} / 5.0
					<br/>
					{% if place.price_level == 1 %}
						$
					{% elif place.price_level == 2 %}
						$$
					{% elif place.price_level == 3 %}
						$$$
					{% elif place.price_level == 4 %}
						$$$$
					{% elif place.price_level == 5 %}
						$$$$$	
					{% elif place.price_level == -1 %}
						No price!
						
					{% endif %}
					
					<br/>
					{% for type in place.types %}
						{% if type == 'bar' %}
							bar 
						{% elif type == 'night_club' %}
							club
						{% endif %}
					{% endfor %}
				</div>
				-->

				{% if place.hashtags|length == 0 %}
					uh oh!<br/> No current tags
					<br/><br/>
				{% endif %}
				
				<div class="separatorTag">
				</div>
			</div>
		{% endfor %}
	</div>
		</div>
{% else %}
	<p>You haven't favorited any venues yet.</p>
{% endif %}

<script type = "text/javascript">

	$(document).ready(function() {
		$('.venue').click(function(){
			//link to next page. Search into how this interfaces with django
			location.href = '../venue/'+$(this).attr('id');
		});
	
	});

</script>
{% endblock %}